* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  height: 100vh;
}

h1 {
  color: #fff;
  margin-bottom: 1.2rem;
}

#wrapper {
  position: relative;
  width: 80%;
  height: 50%;
  max-width: 700px;
  max-width: 1000px;
  border: 3px dashed #fff;
  padding: 1px;
  border-radius: 15px;
  overflow: hidden;
}

#drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  text-decoration: underline;
  background: #e7e7e7;
  background-size: cover;
  background-position: center;
  transition: color, background-color 200ms;
  user-select: none;
  cursor: pointer;
}

#drop-zone.dragging {
  color: #fff;
  background: #2e2e2e;
}
