/* Layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
}

/* Pokemon Content */
.pokemon-container {
  min-height: 300px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pokemon-container > h1 {
  margin-bottom: 20px;
}

.pokemon-container:first-child {
  margin-right: 100px;
}

/* Skeleton Loading */
.skele-container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skele-container .skele-div {
  height: 12px;
  margin: 6px 0;
  width: 100px;
  background: #e1e1e1;
  border-radius: 5px;
  animation: shimmer 3s infinite;
}
.skele-container > .skele-div:first-child {
  width: 50px;
}
.skele-container > .skele-img {
  background: #e1e1e1;
  height: 50px;
  width: 50px;
  padding: 50px;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: shimmer 3s infinite;
}
.skele-container > .skele-container {
  margin-bottom: -20px;
}

/* Global Skeleton */
.card-skeletons__container {
  display: flex;
  align-items: flex-start;
  min-height: 300px;
}
.card-skeletons__container > .skele-container > h1:nth-child(1) {
  margin-bottom: 20px;
}
.card-skeletons__container > .skele-container > div:nth-child(2) {
  width: 50px;
}
.card-skeletons__container > .skele-container:first-child {
  margin-right: 100px;
  margin-bottom: -20px;
}

@keyframes shimmer {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

button:last-child {
  margin-top: 20px;
}
