* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pokemon-container {
  min-height: 300px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pokemon-container:first-child {
  margin-right: 100px;
}

.skele-container {
  min-height: 237px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.skele-container .skele-div {
  height: 12px;
  margin: 6px 0;
  width: 100px;
  background: #e1e1e1;
  border-radius: 5px;
  animation: shimmer 3s infinite;
}
.skele-div:first-child {
  width: 50px;
}
.skele-container > .skele-img {
  background: #e1e1e1;
  height: 50px;
  width: 50px;
  padding: 50px;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: shimmer 3s infinite;
}
.skele-container > .skele-container {
  margin-bottom: -20px;
}

@keyframes shimmer {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
